<!DOCTYPE html>
<html>
<head>
    <title>BondedIn</title>
    <base href=""/>
    <link rel="stylesheet" href="../resources/styles/common.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <h1>BondedIn</h1>
        <form action="" method="POST">

            <div class="container" style="border: solid green 1px;">
                <div class="center">
                    <div class="span3 tecno_filter">
                        <label class="label">Tecnología</label>
                        <select>
                            <option value="php">PHP</option>
                            <option value="python">PYTHON</option>
                            <option value=".net">.NET</option>
                        </select>
                    </div>

                    <div class="span3" style="border: solid red 1px">
                        <label class="label">Provincia</label>
                        <select>
                            <option value="php">Buenos Aires</option>
                            <option value="python">Córdoba</option>
                            <option value=".net">Santa Cruz</option>
                        </select>
                    </div>

                    <div class="span1">
                        <input type="submit" style="margin-top:26px;"/>
                    </div>
                </div>
            </div>
            <div class="container" id="results">

                <div class="container">
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>
                    <div class="span2 box">Hola</div>



                </div>
                <div class="pagination">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><span class="active">1</span></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>

            </div>
        </form>
    </div>

<script src="../resources/js/jquery-1.10.2.min.js"></script>
<script src="../resources/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>