{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>BondedIn</title>
    <base href="http://localhost:8000/"/>
    <link rel="stylesheet" href="{% static 'styles/common.css' %}" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" media="screen" />
</head>
<body>
    <div class="container">
        <h1>BondedIn</h1>
        <!--<form action="" method="POST">-->

            <div class="container" style="border: solid green 1px;">
                <div class="center">
                    <div class="span3 tecno_filter">
                        <label class="label">Tecnología</label>
                        <input type="text" value="" />
                    </div>

                    <div class="span3" style="border: solid red 1px">
                        <label class="label">Provincia</label>
                        <select id="location_select">
                            <option value="1">Buenos Aires</option>
                            <option value="2">Córdoba</option>
                            <option value="3">Santa Cruz</option>
                        </select>
                    </div>

                    <div class="span1">
                        <input type="button" id="search_btn" style="margin-top:26px;"/>
                    </div>
                </div>
            </div>
            <div class="container" id="results">

                <div class="container">
                    <div class="span2 box">Hola</div>

                </div>
                <div class="pagination">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><span class="active">1</span></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>

            </div>
        <!--</form>-->
    </div>

<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $('#search_btn').click(function(){
       alert($('#technology_select').val());
       alert($('#location_select').val());
    });
</script>
</body>
</html>