{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>BondedIn</title>
    <base href="http://localhost:8000/"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'styles/common.css' %}" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
</head>
<body>
    <img id="loading" src="{% static 'images/ajax_loader.gif' %}" style="display:none;position: absolute; width: 10%; top: 40%; left: 45%;"/>
    <div class="container">
        <h1>BondedIn</h1>

            <div class="container">
                <div class="center">
                    <div class="span3 tecno_filter">
                        <label class="label">Tecnología</label>
                        <input type="text" id="techno_select" value="" />
                    </div>

                    <div class="span3">
                        <label class="label">Provincia</label>
                        <select id="location_select">

                        </select>
                    </div>

                    <div class="span3">
                        <label class="label">Ciudad</label>
                        <select id="city_select" disabled>
                        </select>
                    </div>

                    <div class="span1">
                        <input type="button" id="search_btn" style="margin-top:26px;" value="Buscar"/>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="container" id="results">


                </div>
                <!--<div class="pagination">-->
                    <!--<ul>-->
                        <!--<li><a href="#">Prev</a></li>-->
                        <!--<li><span class="active">1</span></li>-->
                        <!--<li><a href="#">Next</a></li>-->
                    <!--</ul>-->
                <!--</div>-->

            </div>

    </div>

<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/underscore-min.js' %}"></script>
<script src="{% static 'js/backbone-min.js' %}"></script>


<script type="text/template" id="items_tpl">
    {% verbatim %}
        <% for (var i = 0; i < persons.length; i++) { %>
        <% if(persons[i].firstName != "") { %>
        <div class="span2" style="text-align:center;">
            <h6 class="itemTitle"><% print(persons[i].firstName); %> <% print(persons[i].lastName); %></h6>
            <div><img src="<% print(persons[i].pictureUrl); %>" alt="<% print(persons[i].firstName); %> <% print(persons[i].lastName); %>"/></div>
            <span class="itemLocation"><% print(persons[i].location); %></span>
        </div>
        <% if( ((i+1)%5)==0 ){ %>
            <div style="clear:both;"></div>
        <% } %>
        <% } %>
        <% } %>
    {% endverbatim %}
</script>

<script type="text/template" id="province_tpl">
    {% verbatim %}
    <option value="">Todas</option>
    <% for (var i = 0; i < data.length; i++) { %>
        <option value="<% print(data[i].pk) %>"><% print(data[i].fields.name) %></option>
    <% } %>
    {% endverbatim %}
</script>

<script type="text/template" id="city_tpl">
    {% verbatim %}
    <option value="">Todas</option>
    <% for (var i = 0; i < data.length; i++) { %>
    <option value="<% print(data[i].fields.name) %>"><% print(data[i].fields.name) %></option>
    <% } %>
    {% endverbatim %}
</script>


<script type="text/javascript">

    $("#techno_select").keyup(function(event){
        if(event.keyCode == 13){
            $("#search_btn").click();
        }
    });

    var tpl_c, tpl_prov, tpl_city;
    tpl_c = _.template($('#items_tpl').html());
    tpl_prov = _.template($('#province_tpl').html());
    tpl_city = _.template($('#city_tpl').html());
    //Requesting for provinces list
    $.get('provinces/',function(data){
        tmp = {"data" : JSON.parse(data)};
        $('#location_select').html( tpl_prov(tmp) );
    });


    $(document).ready(function(){


        $('#search_btn').click(function(){
            if( $.trim(($('#techno_select').val()))  == ''){
                $('#techno_select').val('');
                alert('Falta ingresar una tecnología');
                return false;
            }
            $('#loading').fadeIn(1000);
            tech = $('#techno_select').val();
            prov = $('#location_select').val();
            city = $('#city_select').val();
            url = "list/"+tech;
            if (prov != ''){
                url += '/' + prov;
                if(city != '') url += '/' + city;
            }
            $.get( encodeURI(url), function( data ) {
                   
                tmp = {"persons" : JSON.parse(JSON.stringify(data))};
                $('#results').html( tpl_c(tmp) );
                $('#loading').fadeOut(600);
            }).fail(function(){
                $('#loading').fadeOut(600);
                alert('Hubo un error causado por lo beta que es esta versión...');
            });
        });


        $('#location_select').change(function(){
            if($(this).val() == ''){
                $('#city_select').attr('disabled','true');
                $('#city_select').html('');
            }else{
                $.get('cities/'+$(this).val(),function(data){
                    tmp = {"data" : JSON.parse(data)};
                    $('#city_select').html( tpl_city(tmp) );
                    $('#city_select').removeAttr('disabled');
                });
            }
        });

    });
</script>

</body>
</html>
