html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*-------------------------------------------*/
body{
    background: url('../images/bg-nubes.jpg') repeat-x;
}
h1{
    color: red;
    text-align: center;
    font: bold 20px Arial;
}

.label{
    font: bold 14px Arial;
}

.main{
    width: 980px;
    margin: 0 auto;
    /*border: solid red 1px;*/
}

.center{
    display: table;
    margin: 0 auto;
}

.tecno_filter{
    /*border: solid red 1px;*/
    margin-left: 0px;
}

#results{
    /*border: solid grey 1px;*/
}

.box{
    margin: 5px 12px;
    /*border: solid green 1px;*/
}

.itemLocation{
    line-height: 12px;
    font-size: 12px;
    padding: 5px 0;
    display: block;
}
.itemTitle{
    display: block;
    line-height: 14px;
    font-size: 14px;
    margin-bottom: 1px;
    min-height: 28px;
}